<%= form_for(current_user.active_relationships.build,remote: true) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <div class="row">
    <div class="form-submit">
      <%= f.submit "フォローする", class: "submit-btn-log" %>
    </div>
  </div>
<% end %>