<div class="footer">
  <div class="footer-content">
    <div class="footer-site-title">
      animate community
    </div>
    <div class="footer-nav">
      ruby on rails , 2020/3/31
    </div>
  </div>
</div>